.P-PassportPage {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.P-PassportEdit__selectedTitle {
  font: var(--font-12);
  color: var(--color-grey-text);
  margin-bottom: 4px;
}

.P-PassportEdit__selectedItems {
  font: var(--font-14);
  color: var(--color-text);
  line-height: 1.35;
}
