.P-PassportEdit {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.P-PassportEdit__group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.P-PassportEdit__errorText {
  margin-top: -8px;
  font: var(--font-12);
  color: var(--color-text);
  padding-left: 12px;
}

.P-PassportEdit__clickable {
  cursor: pointer;
}

.P-PassportEdit__selectedList {
  margin-top: -6px;
  font: var(--font-12);
  color: var(--color-grey-text);
  padding-left: 12px;
}

.P-PassportEdit__successText {
  text-align: center;
  font: var(--font-14);
  color: var(--color-text);
}

.A-PassportEditSaveButton {
  height: 86px;
  border: none;
  border-radius: 28px;
  background: var(--color-white);
  color: #d3b1f3;
  font: var(--font-24);
  margin-top: 4px;
}
